<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VUE示例</title>
    </head>
    <body>
        <div id="app1"></div>
        <div id="app">
            <ul>
                <li v-for="book in books">{{ book.name }}</li>
            </ul>
            <input type="text" v-model="name" placeholder="你的名字">
            <h1>你好，{{ name }}</h1>
            <h1>{{ date | formatDate }}</h1>
            <span v-html="link"></span>
            {{ number /10}}
            {{isOk ? '确定':'取消'}}
            {{ reversedText }}
            <h1>总价：{{ prices }}</h1>
            <h1>姓名：{{ fullName }}</h1>
            <p v-if="show">显示这段文本</p>
            <button @click="handleClose">点击隐藏</button>
            <a :href="url">gitHub链接</a>
            <img :src = "imgUrl">
        </div>
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script>
            var padDate = function(value){
                return value < 10 ? '0' + value : value;
            };
            var app1 = new Vue({
                el:'#app1',
                data:{
                    text : '123,456,abc'
                }
            });
            var app =new Vue({
                    el:'#app',
                    data: {
                        books:[
                            { name: '《vue实战》'},
                            { name: '《java从入门到放弃》'},
                            { name: '《mysql从精通到删库跑路》'}
                        ],
                        name:'',
                        date:new Date(),
                        link:'<a href="#">这是一个连接</a>',
                        number:100,
                        isOk: false,
                        text:'123,456,789',
                        show:true,
                        url:'https://www.github.com',
                        imgUrl:'https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=601864968,3315366127&fm=173&app=25&f=JPEG?w=640&h=351&s=88015F7C0933468014E479CF0100E0A1',
                        package1:[
                            {
                                name:'iPhone 7',
                                price:7199,
                                count:2
                            },
                            {
                                name:'iPad',
                                price:2888,
                                count:1
                            }
                        ],
                        package2:[
                            {
                                name:'apple',
                                price:3,
                                count:5
                            },
                            {
                                name:'banana',
                                price:2,
                                count:10
                            }
                        ],
                        firstName : 'Jack',
                        lastName : 'Green'
                    },
                    methods:{
                        handleClose:function(){
                            this.show = false;
                        }
                    },
                    filters: {
                        formatDate : function (value){//这个value就是需要过滤的数据
                            var date = new Date(value);
                            var year = date.getFullYear();
                            var month = padDate(date.getMonth() +1);
                            var day = padDate(date.getDate());
                            var hours = padDate(date.getHours());
                            var minutes = padDate(date.getMinutes());
                            var seconds = padDate(date.getSeconds());
                            //将整理好的数据返回
                            return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
                        }
                    },
                    computed:{
                        reversedText: function(){
                            //这里的this指的是当前的vue实例
                            return app1.text.split(',').reverse().join(',');
                        },
                        prices:function(){
                            var prices = 0;
                            for (var i = 0; i < this.package1.length;i++){
                                prices += this.package1[i].price * this.package1[i].count;
                            }
                            for (var i = 0; i < this.package2.length;i++){
                                prices += this.package2[i].price * this.package2[i].count;
                            }
                            return prices;
                        },
                        fullName:{
                            //getter，用于读取
                            get: function(){
                                return this.firstName + ' ' + this.lastName;
                            },
                            //setter，写入时触发
                            set: function(newValue){
                                var names = newValue.split(' ');
                                this.firstName = names[0];
                                this.lastName = names[names.length - 1];
                            }
                        }
                    },
                    created:function(){
                        console.log(this.books);
                    },
                    mounted:function(){
                        var _this = this;//声明一个变量指向vue实例this，保证作用域一致
                        this.timer = setInterval(function(){
                            _this.date = new Date();//修改数据date
                        },1000);
                    },
                    beforeDestroy:function(){
                        if(this.timer){
                            clearInterval(this.timer);//在Vue实例销毁前，清除我们的定时器
                        }
                    }
                })
        </script>
    </body>
</html>
        